{block content}
<div class="col-12">
	{control addForm}
</div>
<div class="col-12">
	<table class="table table-stripped">
		<tr>
			<th>#</th>
			<th>Url</th>
			<th>Short Url</th>
			<th>used</th>
		</tr>
		<tr n:foreach="$urls as $url">
			<td>{$url->id}</td>
			<td>{$url->url}</td>
			<td>{$url->short}</td>
			<td>{$url->used}</td>
		</tr>
	</table>
</div>
{/block}

